.body {
    overflow: unset;
    width: 100%;
}

.control {
    font-size: 15px;
}

.button {
    width: max-content;
    flex: unset;
    font-size: 15px;
}

.announcement {
    width: 100%;
    background: var(--bg-purple-700);
    padding: 5px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
}


.banner {
    width: 100%;
    background-image: linear-gradient(180deg, transparent, var(--bg-blue-dark-900) 94%), url('../images/web/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 40vw;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: var(--text-secondary);

}

.banner_title {
    margin: 0;
    text-align: center;
    font-family: 'Poppins';
    font-size: clamp(30px, 5vw, 75px);
    font-weight: bold;
}


.profile-user {
    flex: 1;
    display: flex;
    justify-content: end;
}


.list-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--text-secondary);
}

.list-dropdown>.list-item:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 12px;
}

.list-dropdown>.list-item:last-child {
    border-top: 1px solid white;
    padding-top: 12px;
}

.list-dropdown>.list-item>a,
.list-item>form>button {
    color: inherit;
    display: flex;
    gap: 5px;
    align-items: center;

}

.list-item>form>button {
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.list-dropdown>.list-item>a:first-child {
    margin-bottom: 12px;
}

.list-dropdown>.list-item>a:nth-child(2) {
    margin-bottom: 12px;
}

.icon-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-5px);
    transition: transform 300ms ease,
        visibility 300ms ease,
        opacity 300ms ease;
}

.profile-user {
    gap: 1rem;
}

.link {
    border-radius: 35px;
}

.list-dropdown>.list-item>a:hover>.icon-hidden,
.list-item>form>button:hover>.icon-hidden {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.logo {
    flex: 1;

    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
}


.artes {
    position: relative;
    width: 100%;
    padding: 36px 0px;
}
.artes_result{
    padding: 0px 50px;
}


.container-circles-vectors {
    position: sticky;
    top: 50%;
    height: 0px;
    width: calc(100%);
    left: 0;
    /* margin-top: 300px; */
    transform: translateY(calc(-50% + 480px));
    transition: transform 1s ease;
    display: flex;
    /* display: none; */
    overflow-x: clip;
}


.vectors-scrolls {
    transform: translateY(-50%);
}


.container-circle {
    z-index: 2;
    flex: 1;
}

.container-circle-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.circle-big {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    transform: translateX(-200px);
    background: var(--bg-purple-700);
    filter: blur(110px);
}

.circle-big-right {
    background: var(--bg-wine-700);
    transform: translateX(100px);
}

.circle-small {
    width: 10vw;
    height: 10vw;
    background: white;
    border-radius: 50%;
    transform: translateX(-200px);
    background: var(--bg-purple-325);
    filter: blur(50px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-240px);

}

.circle-small-right {
    position: absolute;
    transform: translateY(-50%) translateX(140px);
    background: var(--bg-wine-325);
}

.container-vector {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    width: 35vw;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.container-vector>.vector {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    filter: blur(70px);

}

.container-vector>.vector:first-child {
    transform: translate(calc(-50% - 25%), -50%);
}

.container-vector>.vector:last-child {
    transform: translate(calc(-50% + 25%), -50%)
}


.artes-title {
    font-size: clamp(25px, 5vw, 45px);
    text-align: center;
    background: linear-gradient(90deg, #AD6DFF, #C842B1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
    z-index: 3;
}

.artes-categories {
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
    z-index: 4;
}

.img-skew {
    overflow: hidden;
    height: 327px;
    transform: skew(-10deg);
    border-radius: 6px;
    transition: transform 300ms ease;
    width: 230px;

    flex-shrink: 0;
    scroll-snap-align: start;
    object-fit: contain;
}

.img-skew:hover {
    transform: scale(1.1) skew(-10deg);
}

.img-skew>img {
    width: calc(130% - 30px);
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
    transform: skew(10deg);
    transition: transform 300ms ease;
}

.img-title {
    color: var(--text-secondary);
    position: absolute;
    z-index: 2;
    left: 0;
    height: 100%;
    background-image: linear-gradient(0deg, #FC3F1D, #FFA705);
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
}

.main-mobile {
    display: none;
}

/* Prueba pinterest effec */

.galeria {
    column-count: 5;
    column-gap: 6px;
    padding: 50px 0px;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.item {
    break-inside: avoid;
    margin-bottom: 6px;
}

.item img {
    width: 100%;
    border-radius: 2px;

}

.artes_generales {
    display: flex;
    gap: 50px;
    align-items: center;
    color: var(--text-secondary);
    border-radius: 6px;
    padding: 12px 50px;
    background-color: rgba(151, 71, 255, 0.05);
    margin-top: 50px;

    align-items: center;
    width: 100%;


}

.form-search {
    display: flex;

}

.form-title {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 500;
    font-family: 'Inter';
}

.user_name_main {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    background-image: linear-gradient(90deg, var(--bg-purple-550), var(--bg-wine-400));
}

.access-page-active {
    display: flex;
    gap: 6px;
    align-items: center;
}

.access-page-active>i {
    font-size: 24px;
}

.main-user-active {
    display: flex;
    right: 12px;
}


/*  */
@media screen and (max-width:1450px) {
    .img-skew {
        height: 22.5vw;
        width: 16vw;
    }

    .artes-categories {
        gap: 3.5vw;
    }

    .circle-big {
        transform: translateX(-150px);
    }

    .circle-small {
        transform: translateY(-50%) translateX(-190px);
    }

    .circle-big-right {
        transform: translateX(50px);
    }

    .circle-small-right {
        transform: translateY(-50%) translateX(90px);
    }
}

@media screen and (max-width:1050px) {
    .galeria {
        column-width: 220px;
    }

    .circle-big {
        transform: translateX(-120px);
    }

    .circle-small {
        transform: translateY(-50%) translateX(-160px);
    }

    .circle-big-right {
        transform: translateX(20px);
    }

    .circle-small-right {
        transform: translateY(-50%) translateX(60px);
    }

    .img-skew {
        max-width: 168px;
        width: 168px;
        height: 236px;
    }

    .img-skew:hover {
        transform: skew(-10deg);
    }

    .artes-categories {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        /* padding: 0rem 1.5rem 1rem 1.5rem; */
        justify-content: start;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        gap: 2.45rem;

    }

    .dropdown-icon-mobile {
        display: block !important;
    }

}

@media screen and (max-width: 1012px) {
    .artes_generales {
        flex-direction: column;
        gap: 1rem;
        padding: 10px 1rem;
    }

    .form-search {
        width: 100%;
    }

    .control-search-icon {
        flex: 1;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .header {
        position: sticky;
        top: 0px;
        left: 0;
        width: 100%;
        transform: unset;
        border-radius: 0px;
    }

    .main-user {
        top: 71px;
    }

    .list-header {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .galeria {
        column-count: 2;
        column-width: unset;
    }

}

@media screen and (max-width: 515px) {

    .header_artes {
        padding-left: 1rem;
        padding-right: 1rem;

    }
    .artes_result{
        padding: 0px 1rem;
    }

    .circle-big {
        transform: translateX(-120px);
        width: 50vw;
        height: 50vw;
    }

    .circle-small {
        transform: translateY(-50%) translateX(-160px);
        width: 30vw;
        height: 30vw;
    }

    .circle-big-right {
        transform: translateX(20px);
    }

    .circle-small-right {
        transform: translateY(-50%) translateX(60px);
    }

    /* .artes {
        overflow-x: hidden;
        overflow-y: visible;
    } */


    .main-mobile {
        display: block;
    }
}