.header{
    padding: 10px 1rem;
    top: 12px;
    position: fixed;
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    z-index: 15;
    background-image: linear-gradient(145deg, rgba(111, 0, 255, 0.13), rgba(118, 37, 104,0.13));
    backdrop-filter: blur(10px);
    width: calc(100% - 24px);
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: clamp(25px, 3vw, 20px);
}

.access-page{
    display: flex;
    gap: 1rem;
}
.link-stelar{
    color: white;
    background-image: url("../images/patterns-img/stelar.png"),
        linear-gradient(145deg, rgb(111, 0, 255), rgb(118, 37, 104));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 400ms ease;
    display: flex;
    align-items: center;

}
.link-stelar:hover{
    background-size: contain;
    box-shadow: 0px 0px 20px -6px rgba(255, 0, 242, 0.35),
        0px 5px 20px -6px rgba(76, 0, 255, 0.35);
}
.bg-stelar-span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(145deg, #A8315A, #992F87);
}

.access-site{
    width: max-content;
    gap: 1rem;
    border-radius: 6px;
    color: var(--text-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.main-user{
    position: fixed;
    z-index: 15;
    padding: 1rem;
    top: 83px;
    right: -316px;
    transition: transform 300ms ease,
        opacity 300ms ease,
        visibility 300ms ease;
    border-radius: 6px;
    background-image: linear-gradient(145deg, rgba(111, 0, 255, 0.13), rgba(118, 37, 104,0.13));
    backdrop-filter: blur(10px);
    color: var(--text-secondary);
    transition: right 300ms ease;
}


.access-site-icon-mobile{
    font-size: 24px;
    display: none !important;
}

.dropdown:has(.dropdown-icon-mobile){
    background: transparent;
}


.dropdown-icon{
    fill: currentColor;
    color: var(--text-secondary);
    display: block !important;
}
.link-iniciar-sesion{
    position: relative;
    border-radius: 12px;
    color: inherit;
}
.link-iniciar-sesion::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(145deg,var(--bg-purple-700),var(--bg-wine-700));
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

@media screen and (max-width:1050px) {
    .access-site-icon-mobile{
        display: block !important;
    }
    .login_or_register{
        display: none;
    }
    
    .show-main-user{
        display: flex;
        right: 12px;
    }
}

@media screen and (min-width:829px){

   
    .dropdown-icon{
        display: none !important;
    }
    .nav-title{
        color: var(--text-secondary);
    }

}

