.header{
    backdrop-filter: blur(7px);
    padding: 1rem;
    top: 0;
    position: sticky;
    z-index: 16;
    background-color: rgba(255, 255, 255, 0.9);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: clamp(25px, 3vw, 20px);
}

.access-page{
    display: flex;
    gap: 1rem;
}

.link-stelar{
    color: white;
    background-image: url("../images/patterns-img/stelar.png"),
        linear-gradient(145deg, var(--bg-blue-900),var(--bg-blue-900));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: box-shadow 400ms ease;

}
.link-stelar:hover{
    background-size: contain;
    box-shadow: 0px 0px 20px -6px rgba(0, 93, 255,0.35),
        0px 5px 20px -6px rgba(0,93,255,0.35);
}
.bg-stelar-span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(145deg, #A8315A, #992F87);
}

.dropdown{
    position: relative;
    width: 50px;
    height: 33px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.dropdown-icon{
    fill: currentColor;
    color: #A8315A;
    font-size: 1.5rem;
}
.access-page > .link:first-child{
    border: 1px solid var(--border-wine-500);
    color: var(--text-wine-500);
}

.dropdown:hover > .dropdown-animation {
    opacity: 1;
    visibility: visible;
    transform: translateY(50px) translateX(0px);
}

.dropdown-animation{
    position: absolute;
    right: 0;
    transform: translateY(40px) translateX(10px);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 10px 20px -6px rgba(168, 49, 91, 0.3),
        0px 15px 20px -6px rgba(153, 47, 135, 0.2);
    transition: transform 300ms ease,
        opacity 300ms ease,
        visibility 300ms ease;
    opacity: 0;
    visibility: hidden;
    background: var(--bg-primary);
}

@media screen and (min-width:829px){
    .dropdown-animation{
        background: unset;
    }
    .dropdown:hover .dropdown-animation{
        transform: unset;
    }
    .dropdown-icon{
        display: none !important;
    }
    .header{
        background: unset;

    }
    .nav-title{
        color: var(--text-secondary);
    }
    .dropdown-animation{
        position: unset;
        opacity: 1;
        padding: 0rem;
        visibility: visible;
        transform: unset;
        box-shadow: unset;
    }
    .access-page > .link:first-child{
        color: var(--text-secondary);
        border-color: var(--border-white);
    }
}