.border-white{
    border: 1px solid var(--border-white);
}
.text-white{
    color: var(--text-secondary);
}
.link{
    padding: 6.5px 1rem;
    border-radius: 6px;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    height: 35px;
    font-size: 1rem;
    font-family: inherit;
    display: flex;
    align-items: center;
}
.d-flex{
    display: flex;
} 
.align-items-center{
    align-items: center;
} 
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.g-1{
    gap: 1rem;
}