main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.body{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
         url('../images/web/login.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100dvh;
    
}
.login{
    display: flex;
    background: var(--bg-primary);
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
    max-width: 1100px;
    width: 100%;
    min-height: 700px;
    color: var(--text-wine);
}
.login-form{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    position: relative;
}
.login-header{
    display: flex;
    gap: 5px;
    color: inherit;
    align-items: center;
    color: inherit;
    justify-content: center;
}
.login-header:hover{
    color: var(--text-wine-500);
}
.login-header > i{
    fill: currentColor;
    color: inherit;
    font-size: 30px;
}

.login-title{
    font-size: clamp(25px, 3vw, 20px);
    font-weight: 500;
}
.login .picture{
    flex: 1;
}
.login .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 6px;
}
.login-welcome{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.login-subtitle{
    font-size: 18px;
    font-weight: 500;
}
.login-description{
    background: var(--bg-gradient-stelar-transparent-10);
    border: 1px dashed transparent;
    color: var(--text-primary);
    font-size: 14px;
    padding: 12px;
    position: relative;
    border-radius: 6px;
    width: 100%;
}

.login-description::before{
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 6px;
    background: linear-gradient(90deg, #A8315A, #992F87);
    mask:  repeating-linear-gradient(90deg, #000 0 6px, transparent 6px 12px) top,
        repeating-linear-gradient(90deg, #000 0 6px, transparent 6px 12px) bottom,
        repeating-linear-gradient(0deg,  #000 0 6px, transparent 6px 12px) left,
        repeating-linear-gradient(0deg,  #000 0 6px, transparent 6px 12px) right,

        radial-gradient(circle at top left,     #000 6px, transparent 7px),
        radial-gradient(circle at top right,    #000 6px, transparent 7px),
        radial-gradient(circle at bottom left,  #000 6px, transparent 7px),
        radial-gradient(circle at bottom right, #000 6px, transparent 7px);

    -webkit-mask:
        repeating-linear-gradient(90deg, #000 0 6px, transparent 6px 12px) top,
        repeating-linear-gradient(90deg, #000 0 6px, transparent 6px 12px) bottom,
        repeating-linear-gradient(0deg,  #000 0 6px, transparent 6px 12px) left,
        repeating-linear-gradient(0deg,  #000 0 6px, transparent 6px 12px) right,

        radial-gradient(circle at top left,     #000 6px, transparent 7px),
        radial-gradient(circle at top right,    #000 6px, transparent 7px),
        radial-gradient(circle at bottom left,  #000 6px, transparent 7px),
        radial-gradient(circle at bottom right, #000 6px, transparent 7px);
    mask-size: 
        100% 1px,
        100% 1px,
        1px 100%,
        1px 100%,
        12px 12px,
        12px 12px,
        12px 12px,
        12px 12px;
    -webkit-mask-size:
        100% 1px,
        100% 1px,
        1px 100%,
        1px 100%,
        12px 12px,
        12px 12px,
        12px 12px,
        12px 12px;

        mask-position: 
        top,
        bottom,
        left,
        right,
        top left,
        top right,
        bottom left,
        bottom right;
    -webkit-mask-position:
        top,
        bottom,
        left,
        right,
        top left,
        top right,
        bottom left,
        bottom right;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    pointer-events: none;
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.control{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.control > label{
    font-size: 15px;
    color: inherit;
    font-weight: 500;
}
.input, .link{
    border: 0px;
    outline: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: var(--text-primary);
    font-family: inherit;
    font-size: 15px;
}
.link{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: background 300ms ease,
        box-shadow 300ms ease,
        color 300ms ease;
}
.link > svg path{
    fill: currentColor;
    color: inherit;
}
.input-pink{
    border: 1px solid var(--border-pink-100);
}
.input-pink::placeholder{
    color: var(--text-pink-300);
}
.input-submit{
    background-image: var(--bg-gradient-stelar);
    color: white;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}
.not-account{
    display: flex;
    gap: 3px;
    color: var(--text-primary);
    font-weight: 500;
    font-size: 13px;
}
.not-account > a {
    color: var(--text-wine-500);
}
.other-account{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}
.line{
    flex: 1;
    height: 1px;
    width: 100%;
}
.bg-wine-500{
    background: var(--bg-wine-500);
}
.bg-wine-700{
    background: var(--bg-wine-700);
}
.container-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link-effect-backdrop{
    position: relative;
    
}

.link-backdrop-google{
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #FC3F1D, #FBBB00, #28B446, #518EF8);
    color: var(--text-secondary);
    filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease,
        visibility 300ms ease,
        color 300ms ease;
}
.link-hover-animation{
    position: relative;
    box-shadow: 0px 0px 0px 1px var(--border-gray-50);
}
.link-hover-animation:hover ~ .link-backdrop-google{
    opacity: 1;
    visibility: visible;
}
.link-hover-animation::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        #FC3F1D,
        #FBBB00,
        #28B446,
        #518EF8
    );
    opacity: 0;
    transition: opacity 300ms linear;
    z-index: -1;
    border-radius: 6px;
    width: 100%;
    height: 100%;
}

.link-hover-animation:hover::before{
    opacity: 1;
}
.link-hover-animation:hover{
    color: var(--text-secondary);
    box-shadow: unset;
}
.link-facebook{
     box-shadow: 0px 0px 0px 1px var(--border-gray-50);
}
.link-facebook:hover{
    background: var(--bg-blue-650);
    color: var(--text-secondary);
    box-shadow: 0px 0px 0px 1px var(--border-gray-50),
        0px 0px 25px var(--bg-blue-650-40);
    
}
.register{
    flex-direction: row-reverse;
}
.register .login-form{
    padding: 0rem 1rem;

}
.body-register{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('../images//web/Registrase.webp');
}
.response-error{
    color: rgb(255, 59, 59);
}

.login-error-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    border-radius: 12px;
    background: rgb(233, 61, 61);
    box-shadow: 0px 0px 20px 3px rgba(92, 20, 20,25%);
    transform: translate(-50%, -40%);
    opacity: 0;
    color: white;
    animation: login-error-modal 3s linear forwards;
    visibility: hidden;
    white-space: nowrap;
    font-weight: 500;
}
@keyframes login-error-modal {
    10%{
        transform: translate(-50%, 0%);
        opacity: 1;
        visibility: visible;
    }
    20%{
        transform: translate(-50%,-10%);
        opacity: 1;
        visibility: visible;
    }

    90%{
        transform: translate(-50%,-10%);
        opacity: 1;
        visibility: visible;
    }
    100%{
        transform: translate(-50%,0%);
        opacity: 0;
        visibility: hidden;
        
    }

}


@media screen and (max-width:586px) {
    .picture{
        display: none;
    }
    .login-form{
        max-width: unset;
    }
}
@media screen and (max-width: 450px) {
    .login-form,.register .login-form{
        padding: 0rem;
        gap: 12px;
    }
    .login{
        min-height: unset;
    }
}