*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: 1px solid red;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a,img,span,small{
    display: block;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

input,button{
    flex: 1;
    width: 100%;
    background: unset;
}
