.body{
    width: 100%;
    overflow: hidden;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    min-height: 100dvh;
    background-color: var(--bg-blue-dark-900);
    padding: 0rem;
    position: relative;
}

.content-img{
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    
}
